psutil==5.4.3
gym==0.9.2
rbfopt==4.0.0.post2
Keras==2.0.3
tensorflow_gpu==1.2.1
setuptools==34.3.2
pandas==0.19.2
tqdm==4.19.5
numpy==1.13.1
hearthstone==3.4.17720
torch==0.3.0.post4
scipy==0.19.0
deap==1.2.2
matplotlib==2.0.0
pytest==3.0.7
ipython==6.4.0
moviepy==0.2.3.4
scikit_learn==0.19.1
typing==3.6.4
